@model IEnumerable<webapptesting.Models.bookdata>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@if (TempData["AlertMessage"] != null)
{
     <div class="alert alert-success">
          <strong>Success !</strong>@TempData["AlertMessage"]
          <button type="button" class="="close" data-dismiss="alert">
              <span>&times;</span>
          </button>
     </div>
}


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authordata.Author_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authordata.Author_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Book_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Book_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Book_ID })
            </td>
        </tr>
    }

</table>
