@model webapptesting.Models.authordata

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>authordata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Author_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
