@model IEnumerable<Bookpedia.Models.book>

@{
    ViewBag.Title = "Index";
}

<h1>Bookpedia Nepa</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author1.Author_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author1.Author_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Book_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Book_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Book_ID })
        </td>
    </tr>
}

</table>
